body {
	background: rgb(0, 25, 50);
	color: #ffffff;
}

.movie-app > .row {
	display: flex;
  overflow-x: auto;
	flex-wrap: nowrap;
  overflow-y: hidden;
  height: 60%;
}

.col{
  display: flex;
}

.search-box{
	width: 450px;
}

.image-container {
  flex-direction: row;
	position: relative;
  margin: 5px;
  padding: 3px; 
  max-width: fit-content;
  height: 60%;

  transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 5, 36, 0.493);
	width: fit-content;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 30px;
  
	font-size: 20px;
	padding: 20px;
  
}



/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 25, 50);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 43, 100);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}